/* General Elements */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Header Section */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #084298;
    color: #ffffff;
}

header h1 {
    padding: 5px;
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul {
    display: inline-block;
    display: inline-block;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

header a {
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
}

header a:focus {
    padding: 5px;
    background-color: #5ea9f9;
}

header a:hover {
    padding: 5px;
    background-color:#5ea9f9;
}

header a:active {
    padding: 5px;
    background-color: #5ea9f9;
    border: solid #ffffff 1.5px;
}

.heropic {
    position: relative;
    left: 0;
    top: 0;
}

.heropic h2 {
    position: absolute;
    right: 35px;
    top: 100px;
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bolder;
}

.overlay-pic {
    position: absolute;
    left: 90px;
    top: 45px;
  }

/* content styling */
main {
    width: 100vw;
    overflow: hidden;
}

.mainsection {
    margin: 40px 10px;
    display: flex;
    flex-wrap: wrap;
    color:rgb(0, 0, 0);
    padding: 20px;
    font-size: 16px;
}

.mainsection h3 {
    color: #090713;
    font-size: 40px;
    padding-right: 30px;
    flex: 1;
}

.mainsection div ul {
    list-style-type: none;
    padding-left: 20px;
    margin-right: 10px;
}

.mainsection ul li {
    display: inline-block;
    padding: 10px;
}

.mainsection li a {
    padding: 5px;
    color: #b6d7f9;
    text-decoration: none;
}

.mainsection li a:hover {
    color: #ffffff;
    padding: 5px;
    background-color: #5ea9f9;
}

.mainsection li a:focus {
    color: #ffffff;
    padding: 5px;
    background-color: #5ea9f9;
}

.mainsection li a:active {
    color: #ffffff;
    padding: 5px;
    background-color: #5ea9f9;
    border: solid #090713 1.5px;
}

#contact div {
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
    margin-right: 10px;
    flex: 3;
}
form {
    align-content: center;
    
}

footer {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #677A8E;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-gmail:hover,.fa-linkedin:hover,.fa-github:hover,.fa-linkedin:hover {
    color: #001180;
}
.fab {
    color: #000000;
}

/* mobile responsiveness */

@media screen and (max-width: 786px) {
    .sample-item {
        border: 2px solid #23B5D3;
        margin: 10px;
        width: 95%;
    }

    header div {
        background-color: #677A8E;
        padding-top: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        float: none;

    }

    #contact div {
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        margin-right: 10px;
        flex: 3;
    }

    .mainsection ul li {
        display: block;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    header div ul li {
        margin: 0px;
    }
    
    header a {
        padding: 5px;
    }

    .mainsection {
        margin: 10px;
        padding: 10px;
        flex-direction: column;
        /* display: block; */
        display: inline-block;
        /* flex: none; */
        /* width: 100%; */
    }
    #contact div {
        flex: 1;
    }

    footer {
        font-size: 12px;
    }
}

/* for later addition */

/* styling for portfolio components
.sample-work {
    margin: 10px 10px;
    padding: 5px;
    /* width: 70%; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 3;
}

.sample-work {
    background: #23B5D3;
    border: 2px solid #23B5D3;
    margin: 10px;
    width: 45%;
}

.sample-work img {
      width: 100%;
}

.sample-work h4 {
    color: white;
    background-color: #23B5D3;
    font-size: 30px;
    text-decoration: none;
}

.feature-item {
    background: #23B5D3;
    border: 2px solid #23B5D3;
    margin: 10px;
    width: 95%;
}

.feature-item img {
    width: 100%;
}

.feature-item h4 {
    color: white;
    background-color: #23B5D3;
    font-size: 30px;
    text-decoration: none;
}

/* sample styling for interaction */
/* 
.feature-item:hover {
    border: 4px solid #23B5D3;
}

.feature-item:focus {
    border: 4px solid #23B5D3;
}

.feature-item:active {
    border: 4px solid #dfe0e2;
}

.feature-item:hover {
    border: 4px solid #23B5D3;
}

.feature-item:focus {
    border: 4px solid #23B5D3;
}

.feature-item:active {
    border: 4px solid #dfe0e2;
/* } */


/* footer styling */
